@font-face {
  font-family: 'Windlass';
  src: url('Windlass.ttf') format('truetype');
}

@font-face {
  font-family: 'Copper';  /* Replace with your font name */
  src: url('copper.ttf') format('truetype'); /* Adjust file path and format */
}

.square {
    background-color: #362545;
    color: white;
    padding: 10px;
    width: 200px;
    text-align: center;
    font-family: Copper;
}
