@font-face {
  font-family: 'Windglass';
  src: url('C:\Users\Administrator\Desktop\DeSpar\Windlass.ttf') format('truetype');
}

@font-face {
  font-family: 'Copper';  /* Replace with your font name */
  src: url('C:\Users\Administrator\Desktop\DeSpar\copperplategothic_bold.ttf') format('truetype'); /* Adjust file path and format */
}